
@media (max-width: 991px) {
    .nav-container{
        height: 70px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .page-title-container > video{
        height: 200px;
        object-fit: cover;
    }

    .service-details-page{
        padding: 50px 0 100px;
    }
    
    .nav{
        display: none !important;
    }

    .menu-container{
        display: block !important;
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        padding: 0 15px;
        animation: dropAnim .3s forwards;
    }
    
    .menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--blue-dark);
    }

    .menu-item{
        width: 100%;
        padding: 20px 15px;
        color: white;
        font-weight: 500;
        border: 1px solid white;
        text-transform: uppercase;
    }

    .menu-item.active{
        background-color: var(--orange);
    }

    .nav-products-sm{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
    }

    .nav-products-sm:nth-last-child(1) > a,
    .nav-products-sm > p{
        display: flex;
        align-items: center;
        gap: 10px;
        color: white !important;
    }

    .nav-products-sm > svg{
        width: 30px;
        height: 30px;
    }

    .sub-menu{
        width: 100%;
        margin: 15px 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .sub-menu > span {
        width: 100%;
        display: flex;
    }
    
    .sub-menu > span > a{
        width: 100%;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        color: white;
    }

    .sub-menu > span > a.active{
        background-color: var(--orange);
    }

    .sub-menu > span:nth-last-child(1) > a{
        border-bottom: none;
        padding: 15px 15px 0;
    }

    .nav-logo{
        display: none;
    }

    .nav-logo-sm {
        display: block !important;
        width: 100px;
        height: 100%;
    }

    .nav-logo-sm > img {
        height: 100%;
    }

    .menuBtn {
        width: 45px;
        height: 40px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    .menuBtn > .btn {
        width: 100%;
        height: 70%;
    }

    .page-title {
        width: 100%;
        padding: 0 25px;
    }

    .page-title > h5{
        font-size: 30px;
    }

    .page-title > p{
        font-size: 16px;
    }
    
    .row {
        width: 100%;
        display: block;
        padding: 0 15px;
    }

    .service-details-left {
        width: 100%;
        position: static;
        margin: 0 0 50px 0;
    }

    .contact-service {
        display: none;
    }

    .before-footer-container{
        height: 400px;
    }
    
    .before-footer {
        width: 100%;
        padding: 50px 15px;
    }
    
    .before-footer > h5 {
        font-size: 35px;
    }
    
    .before-footer > p {
        width: 95%;
    }
    
    .contact-service-sm {
        display: block;
        margin: 50px 0 0 0;
        padding: 30px 20px 20px;
        background-color: var(--orange-dark);
        user-select: none;
      }
      
    .contact-service-sm > * {
        margin: 0 0 20px 0;
        color: var(--white);
    }
      
    .contact-service-sm > span {
        display: flex;
        gap: 10px;
    }
    
    .contact-service-sm > h3,
    .contact-service-sm > span > svg {
        font-size: 24px;
        font-weight: 600;
    }
    
    .contact-service-sm > p,
    .contact-service-sm > span > p {
        font-size: 17px;
    }

    .contact-page {
        width: 100% !important;
        padding: 50px 15px !important;
        gap: 40px !important;
    }

    .contact-form > input:nth-last-child(1){
        width: 40% !important;
    }

    .location{
        margin: 150px 0 0 0 !important;
    }

    .about-page{
        width: 100% !important;
        flex-direction: column;
        padding: 50px 15px !important;
        gap: 30px !important;
    }
    
    .product-card-container,
    .products-page > div{
        padding: 0 15px;
        justify-content: center !important;
        grid-template-columns: auto !important;
    }
    
    .product{
        flex-direction: column;
    }
    
    .img-product{
        order: 0;
        width: auto !important;
        justify-content: center;
        position: static !important;
    }
    
    .about-product{
        order: 1;
    }

    .related-products{
        width: 100%;
        grid-template-columns: auto !important  ;
        justify-content: center !important;
    }

    .roving-reladted{
        flex-direction: column;
        align-items: center;
    }
    
    .contact-button{
        bottom: 25px !important;
        right: 25px !important;
    }

    .img > img{
        object-fit: contain !important;
    }

    .img > img,
    .products-page > div,
    .about-product,
    .about,
    .about-img,
    .contact-form > input,
    .contact-info,
    .contact-form,
    .service-details-right,
    .contact-service > span,
    .extra-info > span {
        width: 100% !important;
    }

    .img-panel > img{
        width: 60px !important;
        height: 60px !important;
    }
}

@media (min-width: 530px) {
    .page-title > h5{
        font-size: 38px !important;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .img-panel > img{
        width: 80px !important;
        height: 80px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products-page > div{
        grid-template-columns: auto auto !important;
        justify-content: space-around !important;
    }

    .img-panel > img{
        width: 100px !important;
        height: 100px !important;
    }

    .related-products {
        flex-direction: row;
    }

    .grid-related{
        grid-template-columns: auto auto !important;
        justify-content: space-around !important
    }
}


@media (min-width: 576px) and (max-width: 991px) {
    .contact-page,
    .about-page,
    .page-title,
    .row,
    .menu-container{
        padding: 0 35px;
    }

}

@media (min-width: 991px) and (max-width: 1300px){

    .products-page > div,
    .nav,
    .contact-page,
    .about-page,
    .page-title,
    .row{
        width: 90% !important;
    }

    .nav-item-container {
        width: 55% !important;
    }

    .contact-service > span{
        flex-wrap: wrap;
    }

    .before-footer > h5 {
        font-size: 35px;
    }

    .pro-card{
        width: 250px !important;
    }
}

@media (min-width: 2000px) {
    .page-title-container{
        height: 450px;
    }

    
    .nav-container{
        height: 100px;
    }
    
    .nav-logo{
        height: 100px !important;
    }
    
    .nav-item {
        height: 100% !important;
    }

    .service-details-left{
        top: 120px;
    }
    
    .products-drop-down > a, .nav-products > a,
    .service-details-list > li > a,
    .nav-item > p{
        font-size: 26px !important;
    }
    
    .extra-info > span > div > h6,
    .contact-service > h3{
        font-size: 32px !important;
    }
    
    .about > span > div > h3,
    .before-footer > h5,
    .service-details-info > h3,
    .page-title > h5{
        font-size: 44px !important;
    }
    
    .service-details-info > ol, 
    .service-details-info > ul,
    .service-details-info > h4,
    .service-details-info > p,
    .contact-form > textarea,
    .contact-form > input,
    .contactText,
    .about > p,
    .about > div,
    .footer_item-1,
    .before-footer > p,
    .before-footer > .btn,
    .extra-info > span > div,
    .service-details-info > ul,
    .service-details-info > p,
    .contact-service > span > p,
    .contact-service > p,
    .page-title > p{
        font-size: 22px !important;
    }

    .home-map > iframe{
        height: 600px;
    }

    .before-footer-container{
        height: 500px;
    }

    .before-footer{
        height: 250px;
    }
    
    .before-footer > .btn {
        bottom: 0;
        left: 40%;
        right: 40%;
        position: absolute;
    }

    .contactIcon {
        width: 70px;
        height: 70px !important;
    }

    .contactIcon > svg{
        width: 30px;
        height: 30px;
    }

    .pro-card{
        width: 350px !important;
    }
}